.selected, .selected td {
	background-color: #006dcc !important;
	color: white;
}

.space {
    /*padding: 0;*/
}

.tile {
    /*border: 1px solid black;*/
    /*padding: 8px;*/
    overflow: hidden;
}

.thumbnail {
    background: white;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
}

#status-bar {
  position: fixed;
  bottom: 0;
  margin-left: 20px;
}

/*
 * Draggable CSS code
 * 
 * Adds some classes that make dragging things look nicer
 */
[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: move;
}
