<!DOCTYPE html>
<html>
  <head>
    <title>Final project files - Agora</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/agora-ui.css" rel="stylesheet" media="screen">
<script type="text/template" id="toolbar-template">
        <div class="btn-group pull-left">

                <% if (isSpace) { %>
                        <a href="#manageUsers" role="button" class="btn" data-toggle="modal">
                                <i class="icon-share"></i> Manage Users
                        </a>
                        <a href="#addFile" role="button" class="btn" data-toggle="modal">
                                <i class="icon-plus"></i> Add File
                        </a>
                <% } else { %>
                        <a href="#newSpace" role="button" class="btn" data-toggle="modal">
                                <i class="icon-plus"></i> New Space
                        </a>
                <% }; %>

        </div>
        <div class="btn-group pull-right">
                <% if (isSpace) { %>
                        <button class="btn"><i class="icon-download-alt"></i> Download</button>
                        <a href="#deleteFile" role="button" class="btn" data-toggle="modal">
                                <i class="icon-trash"></i> Delete
                        </a>
                        <a href="#renameFile" role="button" class="btn" data-toggle="modal">
                                <i class="icon-pencil"></i> Rename
                        </a>
                        <a href="#move" role="button" class="btn" data-toggle="modal">
                                <i class="icon-share-alt"></i> Move
                        </a>
                <% } else { %>
                        <a href="#deleteSpace" role="button" class="btn" data-toggle="modal">
                                <i class="icon-trash"></i> Delete
                        </a>
                        <a href="#renameSpace" role="button" class="btn" data-toggle="modal">
                                <i class="icon-pencil"></i> Rename
                        </a>
                <% }; %>
        </div>
        </script>

        <script type="text/template" id="file-list-template">
        <table class="table table-striped" id="file-list">
                <thead>
                <tr>
                        <th>File Name</th>
                        <th>Type</th>
                        <th>Last Modified</th>
                </tr>
                </thead>
                <tbody id="file-list">
                </tbody>
        </table>
        </script>

    <script type="text/template" id="file-view-template">
                <td draggable=true class="fileName"><%= name %></a></td>
                <td><%= isFolder ? 'folder' : 'file' %></td>
                <td><%= timestamp %></td>
        <td>
            <a role="button" class="btn renameFile" >
                <i class="icon-pencil"></i>
            </a>
            <a role="button" class="btn deleteFile">
                <i class="icon-trash"></i>
            </a>
        </td>

        </script>

    <script type="text/template" id="rename-file-template">
        <input type="text" name="renameFile" value="<%= name %>" />
    </script>
  </head>
  <body>
    <div class="container">
      <div id="main" class="hero-unit">
	<div id="user-identity" class="pull-right btn-group">
		<button class="btn btn-primary" type="button"><i class="icon-user icon-white"></i> <span id="user-name"><i>Logging in...</i></span></button>
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="#">Settings</a></li>
			<li class="divider"></li>
			<li><a href="#">Logout</a></li>
		</ul>
	</div>
        <h1>Agora <small>Final project files</small></h1>
	<br>
	<ul class="breadcrumb">
		You are here:
		<li><a href="#">Home</a> &gt;</li>
		<li class="active">Final project files</li>
	</ul>
	<hr>
	<div class="btn-toolbar clearfix"></div>
	<div class="space container-fluid"></div>
	<script type="text/javascript" src="js/freedom/freedom.js" data-manifest="manifest.json"></script>
    <pre id="dropzone" class="container-fluid" draggable=true style="display:none;">Drop files here!</pre>
    </div>
    </div>



    <!-- Add User Dialog -->
    <div id="manageUsers" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="manageUsers" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Manage Users</h3>
	</div>
	<div class="modal-body">
		<div class="btn-group pull-right">
			<button class="btn"><i class="icon-plus"></i> Add User</button>
		</div>
		<table class="table">
			<thead>
			<tr>
				<th></th>
				<th>Screen Name</th>
				<th>Email</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td><button class="btn btn-link"><i class="icon-remove"></i></button></td>
				<td>Tariq Yusuf</td>
				<td><a href="mailto:yusuft@cs.washington.edu">yusuft@cs.washington.edu</a></td>
			</tr>
			<tr>
				<td><button class="btn btn-link"><i class="icon-remove"></i></button></td>
				<td>Nicholas Shahan</td>
				<td><a href="mailto:nicholas.shahan@facebook.com">nicholas.shahan@facebook.com</a></td>
			</tr>
			<tr>
				<td><button class="btn btn-link"><i class="icon-remove"></i></button></td>
				<td>Calyan Lee</td>
				<td><a href="mailto:352fge3tg@api.freedom.com">352fge3tg@api.freedom.com</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Save Changes</button>
	</div>
    </div>

    <!-- Add File Dialog -->
    <div id="addFile" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="addFile" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Add new files</h3>
	</div>
	<div class="modal-body">
		<input type="file" name="datafile" size="100">
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Upload</button>
	</div>
    </div>

    <!-- Delete File Dialog -->
    <div id="deleteFile" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="deleteFile" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Delete selected files</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete:<br>...

	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Delete</button>
	</div>
    </div>

    <!-- Rename Dialog -->
    <div id="renameFile" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="renameFile" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Rename files</h3>
	</div>
	<div class="modal-body">
		<form>
    		<fieldset>
    		<input type="text" placeholder="filename.ext">
    		</fieldset>
    	</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Save</button>
	</div>
    </div>

    <!-- Move Dialog -->
    <div id="move" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="move" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Move to</h3>
	</div>
	<div class="modal-body">
		Folder list ...
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Move</button>
	</div>
    </div>

    <!-- New Space Dialog -->
    <div id="newSpace" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="newSpace" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Create a New Space</h3>
	</div>
	<div class="modal-body">
		<form>
    		<fieldset>
    		<input id="newSpaceName" type="text" placeholder="Name your new space...">
    		</fieldset>
    	</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary" id="createNewSpace" data-dismiss="modal">Create</button>
	</div>
    </div>

    <!-- Delete Space Dialog -->
    <div id="deleteSpace" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="deleteSpace" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Delete selected space</h3>
	</div>
	<div class="modal-body">
		Are you sure you want to delete
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Delete</button>
	</div>
    </div>

    <!-- Rename Space Dialog -->
    <div id="renameSpace" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="renameSpace" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3 id="myModalLabel">Rename Space</h3>
	</div>
	<div class="modal-body">
		<form>
    		<fieldset>
    		<input type="text" placeholder="Space Name">
    		</fieldset>
    	</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button class="btn btn-primary">Save</button>
	</div>
    </div>


    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/agora-interface.js"></script>
    <script src="js/data/models.js"></script>
    <script src="js/data/views.js"></script>
    <script src="js/data/router.js"></script>
    <script src="js/data/collections.js"></script>
    <script src="js/agora-ui.js"></script>
  </body>
</html>
